identity_providers:
  oidc:
    clients:
      - client_id: "client1"
        client_name: "Client"
        client_secret: "<hashed secret>"
        public: false
        require_pkce: true
        pkce_challenge_method: "S256"
        redirect_uris:
          - "client1.example.com/login/oidc"
        consent_mode: "implicit"
        scopes:
          - "openid"
          - "profile"
          - "groups"
          - "email"
        authorization_policy: "two_factor"
        userinfo_signed_response_alg: "none"
        token_endpoint_auth_method: "client_secret_basic"
