# Helm secrets and env files
*.tgz
*-values.yaml
secret.yaml
*-secret.yaml
.env
.envrc

# Other stuff...
*.cert
*.crt
*.key
*.pem
invis-wildcard-cert.yaml
gitignore/

# Authelia
helm/authelia/files/configuration.clients.yml
helm/authelia/files/configuration.yml