# Helm secrets and env files
*.secret.yaml
values.yaml
.env
.envrc
*.tgz

# Other stuff...
*-secret.yaml
!-secret.yaml.tmpl
*.pem
invis-wildcard-cert.yaml
old/

# Authelia
self-helm/authelia/files/configuration.clients.yml
self-helm/authelia/files/configuration.yml

# Romm
authelia-fullchain-configmap.yaml