# Helm secrets and env files
*.tgz
*-values.yaml
secret.yaml
*-secret.yaml
.env
.envrc

# Other stuff...
*.pem
invis-wildcard-cert.yaml
gitignore/

# Authelia
self-helm/authelia/files/configuration.clients.yml
self-helm/authelia/files/configuration.yml